html {
  background-color: #333;
  color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 3em;
}

h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 2em;
}